<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello DevQuotes!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container main-container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <%= if Addict.Helper.is_logged_in(@conn) do %>
              <li><a href="#" class='logout-link'>Logout</a></li>
            <% else %>
              <li><%= link "Register", to: register_path(@conn, :register) %></li>
              <li><%= link "Login", to: login_path(@conn, :login) %></li>
            <% end %>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          <%= link("Home", to: user_path(@conn, :index)) %>
          <%= link("About", to: page_path(@conn, :about)) %>
        </p>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <script type='text/javascript'>
      $('.logout-link').click(function() {
        $.ajax({url:"/logout", method: "DELETE"}).done(function() { window.location.reload(); });
      });
    </script>
  </body>
</html>
