use Mix.Config

config :dev_quotes, DevQuotes.Endpoint,
  access_token: "EXAMPLE",
  addict_secret: "EXAMPLE",
  stackoverflow_api_key: "EXAMPLE"

config :extwitter, :oauth, [
   consumer_key: "",
   consumer_secret: "",
   access_token: "",
   access_token_secret: ""
]
